<html>
<head>
    <link href="~/estilos.css" rel="stylesheet" />
    <title>Neat Burguer</title>
</head>
<body>
    <header>
        <nav>
            <a href="~/Home/Index">Principal</a>
            <a href="~/Home/Menu1/1">Menú Estilo 1</a>
            <a href="~/Home/Menu2">Menú Estilo 2</a>
            <a href="~/Home/Menu3/1">Menú Estilo 3</a>
            <a href="~/Home/Alumno">By Eduardo Bautista</a>

        </nav>
    </header>
    <main>
        @RenderBody();
    </main>
</body>
</html>
